<!DOCTYPE html>
<html>

<head>
    <title>GeeksforGeeks</title>
    <meta charset="utf-8" 
          name="viewport" 
          content="width=device-width, 
                   initial-scale=1.0" />
    <style>
        .gfg {
            font-size: 40px;
            font-weight: bold;
            color: green;
            text-align: center;
        }

        .geeks {
            font-size: 17px;
            text-align: center;
        }

        p {
            text-align: justify;
        }
    </style>
</head>

<body>
    <div class="gfg">
        GeeksforGeeks
    </div>
    <div class="geeks">
        A computer science portal for geeks
    </div>

    <p>
        Prepare for the Recruitment drive of product based
        companies like Microsoft, Amazon, Adobe etc with a
        free online placement preparation course. The course
        focuses on various MCQ's & Coding question likely
        to be asked the interviews & make your upcoming
        placement season efficient and successful.
    </p>
    <p>
        An extensive Online Test Series for GATE 2019 to
        boost the preparation for GATE 2019 aspirants.
        Test series is designed considering the pattern of
        previous years GATE papers and ensures to resemble
        with the standard of GATE. This Test Series will
        help the aspirants track and improve the
        preparation through questions of various difficulty
        levels. There will be two Test Series covering the
        whole syllabus of GATE, including Mathematics and
        Aptitude. Test Series I will cover the basic and
        medium difficulty, whereas in Test Series II difficulty
        will be slightly higher.
    </p>
</body>

</html>